

{% extends 'layout/index.html' %}
{% load static %}
{% block content %}

<section class="dashboard-counts no-padding-bottom mt-5">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Quiz App!</h1>
            <p class="lead">You have selected the <strong>  {{category}} </strong> category.</p>
            <hr class="my-4">
            <p>There will be total 30 questions for the quiz.Do your best to get maximum of them.After the quiz you will be able 
                to see the results and the <strong>Statictics</strong> of your performance right below. </p>
           <small >Good Luck!</small> <br> <br>
       
           <a href="{{category.get_absolute_url}}" class="mt-4">
               <button type="button" class="btn btn-primary mb-4  "
               
            > Let's Start</button></a>
           
{% comment %} 
           {% if category.scorecard_set.all %}
           <h1 class="mb-4">
               <a href="{% url 'performace' category.id %}">
                   Go to Statistics
                </a>
            </h1>
           
            {% endif %} {% endcomment %}
        </div>
    </div>
</section>
{% endblock content %}

 