{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'top_nav.html %}

    <section class="pTopBottomAbout aboutH">
       <div class="container">
           <h1 class="text-white">About Us</h1>
       </div>
    </section>
    <section class="pTopBottom bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="aboutT"><span class="titleColor">Our Introduction</span></h4>
                    <p class="w-90 lg-w-100 popinF lightC mb-5">The HR Consultant Association focuses on the future of the Pakistan by Student’s Extra Curricular activities, Competitions that will attract and equip students for a career in this rapidly growing field. Through a variety of efforts, the HRCA provides students with the opportunity to experience fun, hands-on robotics activities that promote STEMA education (science, technology, engineering, math and Art). The HRCA introduces students to the wide range of Competitions available to them, fueling their imaginations while enhancing their education.</p>
                    <p class="w-100 lg-w-100 popinF lightC mb-2">The HRCA services are based upon the following shared beliefs:</p>
                </div>
                <div class="col-md-6">
                    <img src="images/schoolC.jpg" alt="" class="img-fluid aboutImg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class=" my-4">
                        <li class="popinF lightC">All Students should be lovingly nurtured in a safe, supportive environment where each Student is accepted and appreciated as a unique individual.</li>
                        <li class="popinF lightC">All Kids should have access to an education where they can learn and achieve at a level appropriate to their abilities.</li>
                        <li class="popinF lightC">All Students should have an opportunity to develop their talents in positive ways to create value for themselves and others.</li>
                    </ul>
                    <p class="w-100 lg-w-100 popinF lightC">Profoundly intelligent Students should not be denied what we desire for all young people. Their needs should be recognized and accommodated. Their uniqueness should be understood and nurtured. Rather than be locked into an age based curriculum, profoundly gifted Students should have the opportunity to be challenged to excel and achieve.</p>
                    <p class="w-100 lg-w-100 popinF lightC">HRCA is an organization whose mission is to strengthen, empower, and educate communities through the universal language of arts and through cultural interactions. HRCA plays a role in ensuring education at all levels to empower the youth of Pakistan to create stronger, more human, creative and sustainable communities. HRCA is working on inter-cultural exchange of talented youngster on national and international level and introducing new forms of extracurricular activities. These activities include activity based learning programs, fine arts competitions, &amp; creative Contests since 2012.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}