{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'top_nav.html %}

    <section class="pTopBottomAbout aboutH">
       <div class="container">
           <h1 class="text-white">Downloads</h1>
       </div>
    </section>


    <section class="pTopBottom ">
        <div class="container">
                <a class="downloadR mb-3">
                <div class="mr-3">
                    <i class="downIcon fa-solid fa-download"></i>
                </div>
                <h3 class="downLINK my-2">Math Quiz Registration Form</h3>
                </a>
                <a class="downloadR mb-3">
                <div class="mr-3">
                    <i class="downIcon fa-solid fa-download"></i>
                </div>
                <h3 class="downLINK">Math Quiz Registration Form</h3>
                </a>
                <a class="downloadR mb-3">
                <div class="mr-3">
                    <i class="downIcon fa-solid fa-download"></i>
                </div>
                <h3 class="downLINK">Math Quiz Registration Form</h3>
                </a>
        </div>
    </section>

    {% endblock %}