{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<section class="dashboard-header">



    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Quiz App!</h1>
            
            
            <p class="lead">Select the Category.</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultricies turpis finibus sollicitudin dictum.
                 Praesent condimentum enim sed metus molestie tristique. Sed consequat magna at diam lacinia laoreet.
                  Donec sit amet sapien in est pulvinar ultricies scelerisque et lectus. Aenean tristique
                 a orci in iaculis. Morbi sollicitudin sagittis diam ut pellentesque. Fusce sed porttitor neque. 
                 Aliquam porttitor sem et turpis finibus bibendum. Nunc gravida, neque id dignissim pellentesque, </p>
           
          </div>
        
          <h1>  Categories  </h1>
          <br>
        <div class="row ">
            <!-- Statistics -->
            {% for category in categories  %}
        <div class="ml-2 mb-4">
          <div class="statistic d-flex bg-white has-shadow">
           
            <div class="text">
                <a href="{{category.get_category_url}}">
                
                <button class="btn btn-primary">{{ category.name }}</button>
                </a>
                
          </div>

        </div>
</div>

{% endfor %}


</div>
</section>




    {% endblock content %}